body {
    background: #191e1a;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
}

#header {
    width: 100%;
    height: 100px;
}

#navigation {
    margin-top: 0 auto;
    background: #1e3227;
    width: 100%;
    height: 45px;
}

#menu {
    border: 1px #fff solid;
    width: 955px;
    height: 100%;
    margin-left: 290px;
}



.current_page_item {
    margin: 0 3px 0 0;
	background: #191E1A;
	border-bottom: 3px solid #DDBB04;
	color: #FFFFFF;
}

#content {
    border: 1px #fff solid; 
    width: 955px;
    height: 1200px;
    margin-left: 290px;
}

#content-left {
    border: 1px #fff solid; 
    width: 465px;
    height: 1200px;
    float: left;
}

#tour-img {
    border: 1px #fff solid; 
    width: 465px;
    height: 300px;
}

.left-content {
    border: 1px #fff solid; 
    width: 465px;
    height: 300px;
}

#content-center {
    border: 1px #fff solid; 
    width: 240px;
    height: 1200px;
    float: left;
}

.center-content {
    border: 1px #fff solid;
    width: 240px;
    height: 300px;
}

#content-right {
    border: 1px #fff solid; 
    width: 240px;
    height: 1200px;
    float: left;
}

#search {
    border: 1px #fff solid; 
    width: 100%;
    height: 90px;
}



#tag {
    border: 1px #fff solid; 
    width: 100%;
    height: 180px;
}

#calendar {
    border: 1px #fff solid; 
    width: 100%;
    height: 210px;
}

#category {
    border: 1px #fff solid; 
    width: 100%;
    height: 710px;
}

#footer {
    background: #0d170f;
    width: 100%;
    height: 80px;
}